@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.template-wrapper {
  width: 100%;
}

/* TOPO */
.template-top {
  background-image: url("/cartacorpo.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  height: 380px;
}

/* MEIO – repete perfeitamente */
.template-middle {
  background-image: url("/cartacorpomeio.svg");
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: top center;
}

/* FINAL */
.template-bottom {
  background-image: url("/cartacorpofinal.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
  height: 380px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}




